* {
  margin: 0;
  padding: 0;
}
#mylogo {
  width: 100px;
  height: 100px;
  margin: 0 auto;
  display: block;
  margin-top: 20px;
}

header {
  background: linear-gradient(to right, #333, #333);
  color: #fff;
  background: linear-gradient(
    45deg,
    #952722,
    #188b18,
    #a200ff
  ); /* Initial gradient */
  background-size: 500% 500%; /* Control the size of the gradient */
  animation: gradientAnimation 10s ease infinite; /* Animation */
}

#navbar {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-content: center;
  align-items: center;
}

#navbar > ul {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: center;
  align-items: center;
  list-style: none;
}

#navbar > ul > li {
  list-style: none;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  justify-content: space-around;
  text-decoration: none;
}

.link {
  color: #fff;
  text-decoration: none;
}

@keyframes gradientAnimation {
  0% {
    background-position: 0% 50%; /* Starting position */
  }
  50% {
    background-position: 100% 50%; /* Middle position */
  }
  100% {
    background-position: 0% 50%; /* Ending position */
  }
}

/* my work so need to leave that alone */
footer {
  display: flex;
  justify-content: space-evenly;
  background-color: rgba(9, 9, 9, 0.973);
  color: rgb(255, 254, 254);
  padding: 20px;
  text-align: center;
  margin-top: 20px;
  position: relative;
  top: 50px;
}
.contact-info {
  font-size: 18px;
  margin-bottom: 10px;
}
.social-icons {
  list-style: none;
  padding: 0;
}
.social-icons li {
  display: inline;
  margin-right: 10px;
}

.social-icons a {
  color: #fff;
  text-decoration: none;
  font-size: 24px;
}

.location-info {
  font-size: 16px;
  display: flex;
  align-items: center;
}

.location-info i {
  font-size: 24px;
  color: #007bff;
  margin-right: 10px;
  margin-bottom: 10px;
}

#watermark {
  position: relative;
  text-align: center;
  background-color: transparent;
  color: aliceblue;
  margin: 0 0 0 0;
  top: 25px;
}

@media (max-width: 768px) {
  #container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .hero {
    font-size: large;
  }
  .link {
    font-size: 10px;
    justify-content: center;
    display: inline;
  }
}
